.app-footer {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.app-footer__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.app-footer__copyright {
  margin: 0;
  font-size: 0.75rem;
  color: #999;
}

@media (max-width: 600px) {
  .app-footer__actions .footer-button {
    font-size: 10vw;
  }
}
