:root {
  font-weight: 400;
  color: #c8c8c8;
  background-color: #800020;
  --card-width: 70px;
  --card-height: 105px;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

header {
  padding: 0 1em;
  height: 100px;
  width: 100%;
}

h1 {
  font-size: 0.5em;
  text-align: center;
}
 

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
  text-align: center;
}
