.status-bar {
    background-color: #B38600;
    border: 2px solid black;
    padding: 4px;
  margin: 0;
    border-radius: 5px;
    width: 100%;
  box-sizing: border-box;
  }
  
  .status-row {
    display: flex;
    align-items: left;
    margin-bottom: 4px;
    flex-direction: column;
  }
  
  .label {
    font-weight: bold;
    margin-right: 10px;
    min-width: 70px;
    color: black;
    font-size: 10px;
  }
  
  .point-display {
    background-color: black;
    text-align: right;
    color: white;
    padding: 3px 8px;
    font-size: 11px;
    border-radius: 4px;
  }
  
  .combo-display {
    background-color: black;
    display: flex;
    width: 100%;
  }
    
  .combo-box {
    flex : 1;
    height: 16px;
    border: 1px solid black;
  }
  
  /* 塗られてる（使用中） */
  .combo-box.filled {
    background-color: #00CC99;
  }
  
  /* 空欄（未使用） */
  .combo-box.empty {
    background-color: #000000; /* グレーなど */
  }